# Ignorar dependencias
node_modules/

# Ignorar archivos compilados de TypeScript
*.ts
taller-estructuras-typescript.md
# Ignorar archivos de salida de TypeScript (por ejemplo dist o build)
dist/
build/

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar sistema operativo
.DS_Store
Thumbs.db

# Ignorar configuraciones de editor
.vscode/
.idea/
